# MATLAB Live Scripts and Autosaves
*.mlx
*.mlsx
*.asv
*.tif
*.png
*.json

log.txt

# Large Data files (Keep these local!)
# *.mat
*.tar.gz
*.tif

# Folders to ignore
plotting_scripts/figures
Litterature/
simulation_output/
temp_ue/